@font-face {
  font-family: "urbanist";
  src: url(../fonts/urbanist-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: "abril";
  src: url(../fonts/abrilfatface-regular-webfont.woff2);
}

body {
  background-color: rgb(248, 244, 246);
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "urbanist";
  font-style: italic;
  font-size: 4em;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: "urbanist";
}

h3 {
  color: rgb(0, 0, 0);
  font-family: "urbanist";
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none; /* Fjerner punkter fra listen */
  padding: 0;
  margin: 0;
  display: flex; /* Gør elementer indenfor <nav> til en flex-container */
  font-family: "urbanist";
}

li {
  margin-right: 20px; /* Mellemrum mellem hver listeindtastning (juster efter behov) */
}

a {
  text-decoration: none;
  color: black; /* Farve på tekst i navigationen */
  font-weight: bold; /* Fed skrift */
}

a:hover {
  color: rgb(180, 176, 167);
}
.newprice {
  color: red;
}

P {
  color: rgb(0, 0, 0);
  font-family: "urbanist";
}
